body {
  border-style: solid;
  min-height: 98vh;
}

.container {
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 98vh
}

.a {
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 20vh;
  min-width: 100%;
}

.b {
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  min-width: 76%;
}

.c {
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  min-width: 20%;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .a, .c {
    min-height: 20vh;
  }

}