body {
  background: blanchedalmond;
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.a {
  border: 1px solid lightslategray;
  background-color: lightblue;
  flex-grow: 5;
  min-width: 98%;
  min-height: 30vh;
  margin: 1em;
}

.b {
  border: 1px solid lightslategray;
  background-color: lightcoral;
  flex-grow: 5;
  min-height: 60vh;
  margin-left: 1em;
  margin-right: 1em;
}

.c {
  border: 1px solid lightslategray;
  background-color: lightgoldenrodyellow;
  flex-grow: 1;
  min-width: 20%;
  min-height: 60vh;
  margin: 1em;
}

@media (max-width: 700px) {
  body {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .b {
    flex-grow: 3;
    min-width: 100%;
    min-height: 60vh;
  }
  .a, .c {
    flex-grow: 1;
    min-width: 100%;
    min-height: 18vh;
  }
}